[Unit]
Description=Nomad Agent
After=network.target

[Service]
{% if bootstrap_token is defined and bootstrap_token | length > 0 %}
Environment="NOMAD_TOKEN={{ bootstrap_token }}"
{% endif %}
ExecStart=/usr/local/bin/nomad agent -dev -config /etc/nomad.d/nomad.hcl
ExecReload=/bin/kill -HUP $MAINPID
KillMode=process
Restart=on-failure
LimitNOFILE=65536

[Install]
WantedBy=multi-user.target

