# server.hcl

data_dir  = "/opt/nomad/data"
bind_addr = "0.0.0.0"


advertise {
  http = "{{ inventory_hostname }}"  # HTTP API address
  rpc  = "{{ inventory_hostname }}"  # RPC address
  serf = "{{ inventory_hostname }}"  # Serf address
}
name = "node-{{ inventory_hostname }}"  # This will use the IP address as the node name


# Enable the server
server {
  enabled          = true

  bootstrap_expect = {{ groups['nomad_server'] | length }}

  server_join {
    retry_join = [
      {% for host in groups['nomad_server'] %}
      "{{ host }}"{% if not loop.last %},{% endif %}
      {% endfor %}
    ]
  }
}

client {
  enabled = true
  cpu_total_compute = 1000
}

plugin "raw_exec" {
  config {
    enabled = true
  }
}

# Enable ACLs
acl {
  enabled = true
}

# Enable TLS
tls {
  http = true
  rpc  = true
  verify_server_hostname = false
  verify_https_client    = false

  ca_file   = "/etc/nomad.d/nomad_certificates/cluster.local-agent-ca.pem"
  cert_file = "/etc/nomad.d/nomad_certificates/vm-server-cluster.local.pem"
  key_file  = "/etc/nomad.d/nomad_certificates/vm-server-cluster.local-key.pem"
}
